/* #root {
  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  width: calc(100vw - 17%);
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .content {
    width: calc(100vw - 20%);
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .content {
    width: 100vw;
    padding: 10px;
  }

  .sidebar {
    width: 100vw;
  }

  .header {
    width: 100vw;
  }
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
    padding: 5px;
  }

  .sidebar {
    display: none;
  }
} */

#root {
  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px) !important;
}

.content {
  display: flex;
  
  width: calc(100vw - 17%);
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .content {
    width: 100vw;
  }

  .app-container {
    flex-direction: row;
  }

  .sidebar {
    width: 100vw;
  }

  .header {
    width: 100vw;
  }
}
